version: "3.9"

services:

  backend:
    build: .
    ports:
      - "9916:9916"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started

  db: 
    image: postgres:16
    container_name: conductor_db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: 123
      POSTGRES_DB: conductor
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d conductor"]
      interval: 5s
      timeout: 5s
      retries: 5
  redis:
    image: redis:7-alpine
    ports: 
      - "6379:6379"
    command: redis-server --save "" --appendonly no

volumes:
  postgres_data: