name: Backend CI

on:
  push:
  pull_request:

jobs:
  backend:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache: true

      - name: Download deps
        run: go mod download

      - name: Run tests
        run: go test ./...

      - name: Go vet
        run: go vet ./...

      - name: Build
        run: go build ./...
      
      - name: Docker build
        run: |
          docker build -t conductor_backend:ci .
